body { 
    font-family: sans-serif; 
    line-height: 1.6; 
    max-width: 800px; 
    margin: auto; 
    padding: 20px; 
    color: white; 
    background-color: black;
}
h1 { 
    color: white; 
}
h2 { 
    border-bottom: 2px solid #3498db; 
    padding-bottom: 10px; 
    color: #2980b9; 
}
.links a { 
    margin-right: 15px; 
    text-decoration: none; 
    color: #3498db; 
    font-weight: bold; 
}
.links a:hover { 
    text-decoration: underline; 
}
ul { 
    list-style-type: square; 
}
.date { 
    font-style: italic; 
    color: #7f8c8d; 
}

#map { 
    height: 500px; 
    width: 80% ; 
    margin: 20px auto; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}