<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ma Localisation - Maxence Dubois</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

    <h1>Où me trouver ?</h1>
    <p class="links">
        <a href="/">Accueil</a>
        <a href="https://www.linkedin.com/in/maxence-dubois/">LinkedIn</a>
        <a href="https://maxence-dubois.fr/">Mon Portfolio</a>
        <a href="/galerie">Ma Galerie</a>
    </p>
    <p>Actuellement étudiant à l'ULCO à Calais.</p>

    <iframe src="{{ url_for('static', filename='map.html') }}" width="100%" height="400px"></iframe>
</body>
</html>