<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sélecteur de Répertoire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="text-align: center;">
        <h1>Maxence Dubois</h1>
        <p class="links">
            <a href="/">Accueil</a>
            <a href="https://www.linkedin.com/in/maxence-dubois/">LinkedIn</a>
            <a href="https://maxence-dubois.fr/">Mon Portfolio</a>
            <a href="/carte">Ma Localisation</a>
        </p>
    </div>

    <form method="POST">
        <button type="submit">Sélectionner un répertoire sur mon ordinateur</button>
    </form>

    {% if folder_path %}
        <div class="gallery">
            {% for img_name in images %}
                {# On crée le chemin complet pour Flask #}
                {% set full_path = folder_path + '/' + img_name %}
                <img src="{{ url_for('serve_image', full_path=full_path) }}" alt="Image">
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>