<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sélecteur de Répertoire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Afficher les images d'un dossier</h1>
    <p class="links">
        <a href="https://www.linkedin.com/in/maxence-dubois/">LinkedIn</a>
        <a href="https://maxence-dubois.fr/">Mon Portfolio</a>
        <a href="/">Accueil</a>
        <a href="/carte">Ma Localisation</a>
    </p>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="folder_files" webkitdirectory directory multiple>
        <button type="submit">Afficher les images</button>
    </form>

    <div class="gallery">
        {% for img_data in images %}
            <img src="{{ img_data }}" alt="Image locale">
        {% endfor %}
    </div>
</body>
</html>