<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Comparaison DBScan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="text-align: center;">
        <h1>Résultat de la Segmentation DBScan</h1>
        <a href="/galerie" style="color: #3498db; text-decoration: none;">← Retour à la galerie</a>
    </div>

    <div class="comparison-container">
        <div class="comparison-box">
            <h3>Originale</h3>
            <img src="{{ url_for('serve_image', full_path=image_path) }}" alt="Originale">
        </div>

        <div class="comparison-box">
            <h3>DBScan (k={{ k }})</h3>
            <img src="{{ url_for('generate_dbscan_image', image_path=image_path, k=k) }}" alt="Segmentée">
        </div>
    </div>
</body>
</html>